@use "../../foundation/variable" as *;

/*---------------------------
link
---------------------------*/


.c-tel__time {
    font-size: 0.75rem;
    line-height: 1;
  }

  .c-tel__number {
    display: inline-block;
    margin-inline-start: 5px;
    font-weight: 700;
    line-height: 1;
    img {
      display: inline-block;
    }
  }