@use "../foundation/variable" as *;
/*---------------------------
main
---------------------------*/

.l-section{
    max-width: $section-width;
    margin-inline: auto;
    padding-inline: 15px;
    @include mq(md){
        max-width: 100%;
    }
}