@use "../foundation/variable" as *;
/*---------------------------
front-page
---------------------------*/

/* fv */

.fv__inner {
  width: 100%;
  padding-block-start: 80px;
  position: relative;
  @include mq(md) {
    padding-block-start: 60px;
  }
}
.fv__img-wrapper {
  width: 100%;
  height: 476px;
  margin: 0;
  padding: 0;
}
.fv__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fv__content {
  width: 100%;
  max-width: $section-width;
  margin-inline: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.fv__title {
  font-size: $font-size-48;
  line-height: 1;
  font-weight: 700;
}

.fv__text {
  font-size: $font-size-18;
  line-height: 1.5;
  &:first-of-type {
    margin-block-start: 37px;
  }
}
.fv__link {
  margin-block-start: 24px;
}

/* introduction */

.introduction {
  width: 100%;
  background-color: $basic-c;
}
.introduction__inner {
  width: calc(100% - 30px);
  max-width: $section-width;
  margin-inline: auto;
  padding-block: 54px;
  padding-inline: 15px;
  text-align: center;
}
.introduction__title {
  font-size: $font-size-36;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  margin-block-start: 9px;
  @include mq(md) {
    text-wrap: balance;
    line-height: 1.25;
  }
}
.introduction__item {
  margin-block-start: 57px;
  @include flex-center;
  gap: 30px;
  @media only screen and (max-width: 500px) {
    flex-direction: column;
    gap: 20px;
  }
}
.introduction__text {
  font-size: $font-size-18;
  line-height: 2;
  font-weight: 700;
  color: #fff;
  text-wrap: balance;
}
.desktop-only {
  display: none; /* 初期設定では非表示 */
}

@media screen and (min-width: 768px) {
  .desktop-only {
    display: inline; /* パソコン画面サイズ以上で表示 */
  }
}

.introduction__card {
  width: calc(100% - 30px);
  max-width: 900px;
  margin-inline: auto;
  margin-block-start: 76px;
  padding-block: 12px;
  padding-inline: 15px;
  background-color: #fff;
}
.introduction__card-inner {
  width: calc(100% - 40px);
  border: 5px solid $basic-c;
  padding-inline: 15px;
}
.introduction__card-title {
  font-size: $font-size-36;
  line-height: 1.5;
  font-weight: 700;
  margin-block-start: 18px;
  @media only screen and (max-width: 500px) {
    font-size: 1.25rem;
  }
  @include mq(sp) {
    font-size: 1rem;
    text-wrap: balance;
  }
}
.introduction__card-text {
  font-size: $font-size-18;
  line-height: 1.5;
  padding-block: 28px;
  @media only screen and (max-width: 500px) {
    font-size: 0.75rem;
  }
}

/* curriculum */

.curriculum {
  width: calc(100% - 30px);
  margin-inline: auto;
  padding-inline: 15px;
  padding-block-end: 39px;
  &__heading {
    margin-inline: auto;
    padding-block-start: 63px;
    text-align: center;
  }
  @include mq(md) {
    width: 100%;
    padding-inline: 0;
    padding-block-end: 0;
  }
}
.curriculum__inner {
  width: calc(100% - 30px);
  max-width: $section-width;
  margin-inline: auto;
  padding-inline: 15px;
  margin-block-start: 55px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  @include mq(md) {
    width: 100%;
    padding-inline: 0;
    gap: 0;
  }
}
.curriculum__wrapper {
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  gap: 52px;
  &--reverse {
    flex-direction: row-reverse;
  }
  @include mq(md) {
    width: calc(100% - 60px);
    padding-inline: 30px;
    padding-block: 30px;
    flex-direction: column;
    gap: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/feature01.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    &:nth-child(2) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/feature02.png);
    }
    &:nth-child(3) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/feature03.png);
    }
  }
}

.curriculum__label {
  width: 91px;
  height: 30px;
  background-color: $sub-c;
  color: #fff;
  font-size: fz(12);
  display: grid;
  place-items: center;
}
.curriculum__title {
  font-size: $font-size-26;
  line-height: 1.5;
  font-weight: 700;
  margin-block-start: 37px;
  @include mq(md) {
    margin-block-start: 13px;
  }
}

.curriculum__text {
  font-size: $font-size-16;
  line-height: 1.5;
  margin-block-start: 37px;
  @include mq(md) {
    margin-block-start: 13px;
  }
}

.curriculum__img-wrapper {
  width: 350px;
  height: 240px;
  @include mq(md) {
    display: none;
  }
}
.curriculum__img {
  display: inline-block;
  width: 350px;
  height: 240px;
  object-fit: cover;
}

.curriculum__price {
  width: calc(100% - 30px);
  max-width: $section-width;
  height: 217px;
  margin-inline: auto;
  margin-block-start: 93px;
  padding-inline: 15px;
  background-image: url(../images/price.png);
  background-size: cover;
  background-position: center;
  @include flex-center;
  flex-direction: column;
  gap: 27px;
  @include mq(md) {
    width: 100%;
    margin-block-start: 0;
    padding-inline: 0;
  }
}
.curriculum__price-title {
  font-size: $font-size-26;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}
.curriculum__price-btn {
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  font-size: $font-size-16;
  line-height: 1;
  font-weight: 700;
}
.curriculum__price-link {
  display: inline-block;
  border-radius: 30px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      background-color: $basic-c;
      color: #fff;
    }
  }
}

/* example */

.example {
  width: 100%;
  background-color: $basic-c;
  color: #fff;
}

.example__heading {
  width: 100%;
  padding-block-start: 63px;
  text-align: center;
}

.example__inner {
  width: calc(100% - 30px);
  max-width: $section-width;
  margin-inline: auto;
  padding-block-start: 129px;
  padding-block-end: 60px;
  padding-inline: 15px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); // 幅280pxを基準に自動調整
  gap: 30px; // アイテム間のスペース
  place-items: center;
  @include mq(md) {
    width: 100%;
    padding-inline: 0;
    padding-block-start: 63px;
  }
}
.example__media {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  @include mq(md) {
    width: calc(100% - 20px);
    padding-inline: 10px;
  }
}
.example__media-heading {
  font-size: $font-size-16;
  line-height: 1.5;
  font-weight: 700;
}

.example__media-item {
  @include mq(md) {
    display: flex;
    background-color: #fff;
    margin-block-start: 12px;
  }
}

.example__img-wrapper {
  width: 100%;
  height: 171px;
  margin-block-start: 12px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: end;
  @include mq(md) {
    width: 125px;
    margin-block-start: 0;
  }
}
.example__img {
  width: 125px;
  height: 140px;
  object-fit: cover;
}
.example__content {
  width: 100%;
  padding-block-start: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 8px;
  @include mq(md) {
    width: calc(100% - 10px);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
}

.example__kind {
  place-items: center;
  @include mq(md) {
    place-items: start;
  }
}

.example__name {
  grid-column: span 2 / span 2;
  align-items: center;
  padding-inline: 10px;
  @include mq(md) {
    grid-column: span 1 / span 1; // メディアクエリで適用される1列に合わせて修正
    padding-inline: 0;
    place-items: start;
  }
}

.example__score {
  grid-column: span 3 / span 3;
  grid-row-start: 2;
  align-items: center;
  padding-inline: 10px;
  @include mq(md) {
    grid-column: span 1 / span 1; // メディアクエリで適用される1列に合わせて修正
    grid-row-start: 3;
    padding-inline: 0;
    text-wrap: balance;
    place-items: start;
  }
}
/* process */

.process {
  width: calc(100% - 30px);
  max-width: $section-width;
  margin-inline: auto;
  margin-block-start: 63px;
}

.process__heading {
  width: calc(100% - 30px);
  text-align: center;
}

.process__list {
  width: 100%;
  &:first-of-type {
    margin-block-start: 63px;
  }
  &:last-child {
    margin-block-end: 0;
  }
}

.process__list-item {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-block-start: 8px;
  background-color: $accent-c;
  color: $basic-c;
  &:first-of-type {
    margin-block-start: 0;
  }
  @media only screen and (max-width: 850px) {
    gap: 10px;
  }
}

.process__list-number {
  width: 64px;
  height: 64px;
  display: grid;
  place-items: center;
  background-color: $sub-c;
  font-weight: 700;
  color: #fff;
  @media only screen and (max-width: 850px) {
    min-height: 64px;
    height: auto;
  }
}

.process__list-content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  @media only screen and (max-width: 850px) {
    padding-block: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
  }
}
.process__list-ttl {
  width: 25%;
  font-size: $font-size-18;
  line-height: 1;
  font-weight: 700;
  position: relative;
  @media only screen and (max-width: 850px) {
    width: calc(100% - 20px);
    padding-inline: 10px;
    text-wrap: balance;
    line-height: 1.25;
  }
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -8.5px;
    right: 0;
    width: 1px;
    height: 30px;
    background-color: #c3c3c3;
    margin-inline: 10px;
    @media only screen and (max-width: 850px) {
      display: none;
    }
  }
}

.process__list-txt {
  padding-inline-start: 20px;
  @media only screen and (max-width: 850px) {
    padding-inline: 5px;
    text-wrap: balance;
  }
}

/* faq */

.faq {
  width: calc(100% - 30px);
  max-width: $section-width;
  margin-inline: auto;
  padding-inline: 15px;
  padding-block-start: 59px;
  &__heading {
    margin-inline: auto;
    text-align: center;
  }
}

.faq__inner {
  width: 100%;
  margin-inline: auto;
  padding-block-start: 48px;
  border-bottom: solid 1px $basic-c;
  @include mq(md) {
    width: 100%;
  }
}
.faq__content {
  width: 100%;
  @include mq(md) {
  }
}

.faq__item {
  border-top: solid 1px $basic-c;
  font-size: $font-size-16;
  line-height: 1.5;
  color: $basic-c;
  padding-block-end: 10px;
}

summary {
  display: block;
  cursor: pointer;
}

.faq__question {
  width: 100%;
  padding-block: 20px;
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    background-color: $basic-c;
  }
  &::before {
    width: 25px;
    height: 3px;
    right: 0;
  }
  &::after {
    width: 3px;
    height: 25px;
    right: 12px;
    transition: rotate 0.3s;
  }
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

details[open] .faq__question::after {
  transform: rotate(90deg);
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.faq__question-text {
  padding-inline: 0 50px;
}

.faq__answer {
  padding-block: 20px;
  background-color: $accent-c;
  color: $basic-c;
  padding-inline: 5px;
}

/* info */

.info {
  margin-block-start: 90px;
  display: grid;
  grid-template-columns: calc(50% - 40.5px) calc(50% - 40.5px); // 両側に50%で40.5pxずつ引いた幅を指定
  gap: 81px; // カラム間のスペース
  @include mq(md) {
    grid-template-columns: 1fr; // メディアクエリで1列に変更
    place-items: center;
  }
}

/* blog */


.blog__inner {
  width: 100%;
  margin-block-start: 30px;
}
.blog__link{
  margin-block-start: 31px;
}

/* news */

.news {
  @include mq(md) {
    width: calc(100% - 30px);
    padding-inline: 15px;
  }
}

.news__inner {
  width: 100%;
  margin-block-start: 30px;
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.news__link {
  display: block;
  width: 100%;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      color: $sub-c;
      .news__text {
        color: $sub-c;
      }
    }
  }
}

.news__item {
  width: 100%;
  max-width: 228px;
  min-height: 55px;
  height: auto;
}
.news__date {
  font-size: fz(12);
  line-height: 1.5;
}
.news__text {
  font-size: fz(16);
  line-height: 1.5;
  color: $basic-c;
  text-decoration: underline;
  margin-block-start: 13px;
  transition: all 0.3s;
}
