@use "../../foundation/variable" as *;

/*---------------------------
media
---------------------------*/

/* blog (p-media) */

.p-media__item {
  width: 100%;
  height: auto;
  overflow: visible;
  display: flex;
  gap: 20px;
}

.p-media__link {
  display: block;
  width: 100%;
  transition: all 0.3s;
  &:first-of-type {
    margin-block-start: 0;
  }
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      background-color: $accent-c;
    }
  }
}
.p-media__img-wrapper {
  width: 150px;
  height: 110px;
  position: relative;
  &:before {
    content: "カテゴリー";
    display: block;
    width: 78px;
    height: 23px;
    background-color: $basic-c;
    color: #fff;
    font-size: fz(12);
    line-height: 1;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  @include mq(md) {
    width: 100px;
    height: 73px;
  }
}
.p-media__img-wrapper.p-media__img-wrapper--page{
  width: 240px;
  height: 179px;
  &:before {
    width: 80px;
    height: 28px;
  }
}

.p-media__img {
  width: 150px;
  height: 110px;
  object-fit: cover;
  @include mq(md) {
    width: 100px;
    height: 73px;
  }
}

.p-media__img.p-media__img--page{
  width: 240px;
  height: 179px;
}

.p-media__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-media__ttl {
  font-size: $font-size-16;
  font-weight: 700;
  line-height: 1.5;
  margin-block-start: 0.5em;
}
.p-media__ttl.p-media__ttl--page {
  font-size: fz(26);
  line-height: 1.5;
}
.p-media__ttl-line {
  text-decoration: underline;
}
.p-media__date {
  font-size: fz(12);
  line-height: 1.5;
  color: $basic-c;
}
.p-media__txt{
  margin-block-start: 0.5em;
}